body {
  background-color: hsl(212, 45%, 89%);
  margin-left: 35%;
  margin-right: auto;
  font-family: 'Outfit';
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  padding: 2rem;
  margin: 2rem;
  max-width: 20rem;
  border-radius: 3%;
}

section h1 {
  color: hsl(218, 44%, 22%);
}

section h1, p {
  text-align: center;
}

img {
  max-width: 100%;
  border-radius: 3%;
}